# Verification

## Overview

Verification integrations extend the scope for setting up seamless processes for identity verification or authentication requirements.&#x20;

Integration with UIDAI's Aadhaar or eMudhra and License processing system by Interlace exemplify the ease with which the DIGIT platform allows integration with third-party apps. Such integrations extend the functional scope of the modules enabling user verification, compliance with licensing requirements, and facilitating digital signatures.

## Integration Details

Refer to the table below to find the list of successful third-party integration with DIGIT platform details:

<table><thead><tr><th width="100">S.No.</th><th width="196">Implementing Agency</th><th width="120">Modules</th><th>Description</th></tr></thead><tbody><tr><td>1</td><td>Odisha HUDD</td><td>multiple</td><td>Integration with eMudhra for digital signatures</td></tr><tr><td>2</td><td>DGDE</td><td>multiple</td><td>Integration with UIDAI's Aadhaar for verification</td></tr><tr><td>3</td><td>Tamil Nadu Single Window Portal for Planning Permissions</td><td>eDCR</td><td>Integration of DIGIT eDCR with Interlace's license processing system</td></tr></tbody></table>

## Related Links
