# Verification

## Overview

Verification integrations extend the scope for setting up seamless processes for identity verification or authentication requirements.&#x20;

Integration with UIDAI's Aadhaar or eMudhra and License processing system by Interlace exemplify the ease with which the DIGIT platform allows integration with third-party apps. Such integrations extend the functional scope of the modules enabling user verification, compliance with licensing requirements, and facilitating digital signatures.

## Integration Details

Refer to the table below to find the details of successful third-party integrations with the DIGIT platform:

<table><thead><tr><th width="72">S.No.</th><th width="134">DIGIT Modules</th><th width="120">Integrated With</th><th width="265">Description</th><th>Implementing Agency</th></tr></thead><tbody><tr><td>1</td><td>Multiple modules</td><td>eMudhra</td><td>Integration with eMudhra for digital signatures</td><td>Odisha HUDD</td></tr><tr><td>2</td><td>Multiple modules</td><td>UIDAI</td><td>Integration with UIDAI's Aadhaar for verification</td><td>DGDE</td></tr><tr><td>3</td><td>eDCR</td><td>Licence Processing System - Interlace</td><td>Integration of DIGIT eDCR with Interlace's license processing system</td><td>Tamil Nadu Single Window Portal for Planning Permissions</td></tr></tbody></table>

## Related Links
